.NavigationItem {
  display: flex;
  height: 100%;
  align-items: center;
}
.NavigationItem a {
  /* margin: auto; */
  padding: 0 15px;
  /* height: 100%; */
  display: flex;
  align-self: stretch;
  align-items: center;
  text-decoration: none;
  color: #146356;
}

.NavigationItem a:hover,
.NavigationItem a.active,
.NavigationItem a.active {
  border-bottom: 4px solid #8843f2;
  background-color: #fff1bd86;
}

@media (max-width: 500px) {
  .NavigationItem {
    /* margin: 5px 0; */
    padding: 10px 0;
  }

  .NavigationItem a {
    /* margin: auto; */
    padding: 15px;

    color: #c5ae8f;
  }

  .NavigationItem a:hover,
  .NavigationItem a.active,
  .NavigationItem a.active {
    border-bottom: 4px solid transparent;
    background-color: #e7e7e796;
    color: #ca8b37;
  }
}
